<settings>
    <profiles>
        <profile>
            <id>jmc</id>
            <repositories>
                <repository>
                    <id>jmc-publish</id>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc-libs</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>jmc-publish-snapshot</id>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <url>https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc-libs-snapshots</url>
                    <layout>default</layout>
                </repository>
            </repositories>
            <properties>
                <release.repo>https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc-libs</release.repo>
                <snapshot.repo>https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc-libs-snapshots</snapshot.repo>
            </properties>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>jmc-publish</id>
            <username>${env.USERNAME}</username>
            <password>${env.PASSWORD}</password>
        </server>
        <server>
            <id>jmc-publish-snapshot</id>
            <username>${env.USERNAME}</username>
            <password>${env.PASSWORD}</password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>jmc</activeProfile>
    </activeProfiles>
</settings>